<ul>
      <div>{{problem.question}}</div>
</ul>

      <a href="/problems/submit/{{problem.ID}}"><button style="cursor: pointer;">Nộp bài</button></a>

<br>
<form method="POST">
<h1> Bình luận </h1>
<textarea required placeholder="Viết bình luận..." id="comment" name="comment" rows="3" cols="100%"></textarea>
<br><input type="hidden" value="{{problem.ID}}" name="id"><input type="hidden" value="{{problem.title}}" name="title">
{{#if user}}
<button style="cursor: pointer;" type="submit">Thêm bình luận</button>
{{else}}
<button style="cursor: pointer;" disabled>Thêm bình luận</button>
{{/if}}
{{#each comments}}
  <p><strong>{{name}} ({{dateTime}}): {{comment}} </strong></p>
{{/each}}
</form>

  <main>
    <input type="hidden" name="page" id="page">
  {{#if hasPrevPage}}
        <a href="/problems/detail/{{problem.ID}}?page=1"><button style="cursor: pointer;"  onclick="page(1)"> << </button></a>
        <a href="/problems/detail/{{problem.ID}}?page={{prevPage}}"><button style="cursor: pointer;"  onclick="page({{prevPage}})">{{prevPage}}</button></a>
    {{/if}}
    {{#if hasPage}}<button disabled>{{pageNumber}}</button>{{/if}}
    {{#if hasNextPage}}
        <a href="/problems/detail/{{problem.ID}}?page={{nextPage}}"><button style="cursor: pointer;"  onclick="page({{nextPage}})">{{nextPage}}</button></a>
        <a href="/problems/detail/{{problem.ID}}?page={{lastPage}}"><button style="cursor: pointer;"  onclick="page({{lastPage}})"> >> </button></a>
    {{/if}}
    </main>